* {
    font-family: Comic Sans MS;
    text-align: center;
}

#parablue {
    color: blue;
}

#parared {
    color: red;
}

h2{
    color: darkred;
    background: hotpink;
    text-align: center
}

h3{
    color: palegreen;
    background: aqua;
    weight: bold;
}

#title {
    border-bottom: 0;
}

ol, li {
    width:400px;
    margin:0 auto;
    text-align:left;
}
