* {
    font-family: Comic Sans MS;
    text-align: center;
}

#parablue {
    color: blue;
}

#parared {
    color: red;
}

#title {
    border-bottom: 0;
}

ol, li {
    width:400px;
    margin:0 auto;
    text-align:left;
}
