* {
    font-family: Comic Sans MS;
    text-align: center;
}

#parablue {
    color: blue;
}

#parared {
    color: red;
}

#parapurple {
    color: rebeccapurple;
}

h2 {
    background: lightgrey;
    text-align: center
}

h3 {
    color: purple;
    background: lightgray;
    weight: bold;
}

#title {
    border-bottom: 0;
}

ol, li, ul {
    width:400px;
    margin:0 auto;
    text-align:left;
}
